@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set global font */
body {
  font-family: 'Inter', sans-serif;
  color: white; /* make all text white by default */
}

/* Force all text elements to white, overrides any gray classes */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
a {
  color: white !important;
}
